


<div id="productsList"></div>

<input type="text" id="create" placeholder="cargue solo el titulo del producto">
<input type="text" id="delete" placeholder="ponga solo el titulo del producto a borrar">

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>